<div class="posts-wrapper">
  <div class="post">
    <div class="post-head">
      <div class="thumb-img"></div>
      <div class="user-name">
        <%= post.user.user_name %>
      </div>
    </div>
    <div class="image center-block">
      <%= link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post) %>
    </div>
    <div class="post-bottom">
      <div class="caption">
        <div id="user_unique" style="
    font-weight: 700;
">
          <%= post.user.user_name %>
        </div>
        <div class="caption-content">
          <%= post.caption %>
        </div>
        <div class="comments" id="comments_<%= post.id %>">
          <% if post.comments %>
            <%= render post.comments, post: post %>
          <% end %>
        </div>
      </div>

    </div>
    <div class="comments" id="comments_<%= post.id %>"></div>
    <div class="comment-like-form row">
      <div class="like-button col-sm-1">
        <i class="far fa-heart fa-2x"></i>
        <div class="comment-form col-sm-11">
          <%= simple_form_for([post, post.comments.new], :remote => true) do |f| %>
          <%= f.text_field :content, class: 'arthur_form', placeholder: 'Add a comment...' %>
          <%= f.button :submit, class: "btn btn-primary padding: 50px;" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="time_ago">
    <%= time_ago_in_words post.created_at %> ago
  </div>
